<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>login</title>

    <!-- Place for css -->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/hamburger.css}">
    <link rel="stylesheet" th:href="@{/css/header/logo.css}">
    <link rel="stylesheet" th:href="@{/css/header/cart.css}">

    <!-- text css-->
    <link rel="stylesheet" th:href="@{/css/textstyle.css}">
</head>
<body>
<!-- imported header from index -->
<header th:replace="~{index :: header}"></header>

<div class="adminGrid">
    <form action="/showAllUsers" method="post">
        <button type="submit" >Se alle Kunder!</button>
    </form>

    <div class="allUsers">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user : ${session.allUsers}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="allOrders">

    </div>

    <div class="allUsersWithOrders">

    </div>

    <div class="giveMoneyToUser">

    </div>

</div>



</body>
</html>