<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>CupCake</title>

    <!-- Place for css -->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/hamburger.css}">
    <link rel="stylesheet" th:href="@{/css/header/logo.css}">
    <link rel="stylesheet" th:href="@{/css/header/cart.css}">

    <!-- Body css-->
    <link rel="stylesheet" th:href="@{/css/body/custom/customCupCake.css}">

    <!-- text css-->
    <link rel="stylesheet" th:href="@{/css/textstyle.css}">
</head>
<body>
<!-- imported header from index -->
<header th:replace="~{index :: header}"></header>

<div class="customGrid">
    <figure id="custom">
        <!-- picture -->
        <img th:src="@{/images/cupcakeform.png}" alt="CustomCupCake">
        <figcaption>Custom Cupcake</figcaption>
    </figure>

    <form th:action="@{/addToCart}" method="post">

        <input type="hidden" id="selectedBottom" name="BottomId" value="">
        <input type="hidden" id="selectedTopping" name="toppingId" value="">

        <div class="bottomGrid">
            <button type="button"
                    class="customButton"
                    th:each="bottom : ${bottoms}"
                    th:text="${bottom.name}"
                    th:attr="data-id=${bottom.id}"
                    onclick="selectOption('selectedBottom', this)">
            </button>
        </div>

        <div class="toppingGrid">
            <button type="button"
                    class="customButton"
                    th:each="topping : ${toppings}"
                    th:text="${topping.name}"
                    th:attr="data-id=${topping.id}"
                    onclick="selectOption('selectedTopping', this)">
            </button>
        </div>

        <button type="submit">Bestil</button>

    </form>

        <!-- submits the form -->
        <button type="submit"> Tilføj til kurven</button>
    </form>

    <!-- Place for js scripts -->
    <script th:src="@{/js/order.js}"></script>
    <script th:src="@{/js/hamburger.js}"></script>
</div>
</body>

</html>
