<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CupCake</title>

    <!-- Place for css -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/hamburger.css}">
    <link rel="stylesheet" th:href="@{/css/header/logo.css}">
    <link rel="stylesheet" th:href="@{/css/header/cart.css}">

    <!-- Body css-->
    <link rel="stylesheet" th:href="@{/css/body/product.css}">
</head>


<body>

<div class="header-grid">
    <!-- hamburger menu -->
    <div id="hamburger">
        <div class="hamburger-wrapper">
            <div class="container" onclick="Show(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="hamburgerMenu">
                <!-- options in burger menu -->
                <h2><a href="#1">Placeholder 1</a></h2>
                <h2><a href="#2">Placeholder 2</a></h2>
                <h2><a href="#3">Placeholder 3</a></h2>
            </div>
        </div>
    </div>

    <!-- logo -->
    <div id="logo">
        <!-- link back to main page -->
        <a href="http://localhost:7070/">
            <!-- picture -->
            <img th:src="@{/images/logo.png}" alt="Logo">
        </a>
    </div>

    <!-- shopping cart -->
    <div id="cart">
        <!--<span th:text = "{$placeholder}">0</span>-->
            <span>0</span>
            <img th:src="@{/images/shoppingBag.svg}" alt="ShoppingBag">
        </a>
    </div>
</div>

<div class="product-grid">
    <div class="product" th:each="post : ${productList}">
        <img th:src="@{/images/{img}(img=${product.image})}">
        <p th:text="${product.title}"></p>
    </div>
</div>

<div class ="custom-grid">

</div>
<!-- Place for js scripts -->
<script th:src="@{/js/hamburger.js}"></script>

</body>
</html>