<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>CupCake</title>

    <!-- Place for css -->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/hamburger.css}">
    <link rel="stylesheet" th:href="@{/css/header/logo.css}">
    <link rel="stylesheet" th:href="@{/css/header/cart.css}">

    <!-- Body css-->
    <link rel="stylesheet" th:href="@{/css/body/index/product.css}">

    <!-- text css-->
    <link rel="stylesheet" th:href="@{/css/textstyle.css}">
</head>

<body>
<header th:fragment="header" class="header-grid">

    <!-- hamburger menu -->
    <div id="hamburger">
        <div class="hamburger-wrapper">
            <div class="container" onclick="Show(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
            <div id="hamburgerMenu">
                <!-- options in burger menu -->
                <h2><a href="#1">Login</a></h2>
                <h2><a href="#2">Support</a></h2>
            </div>
        </div>
    </div>

    <!-- logo -->
    <div id="logo">
        <!-- link back to main page -->
        <a href="http://localhost:7070/">
            <!-- picture -->
            <img th:src="@{/images/logo.png}" alt="Logo">
        </a>
    </div>

    <!-- shopping cart -->
    <a th:href="@{/showTempOrder}">
        <div id="cart">
            <span th:text="${cartItemCount}">0</span>
            <img th:src="@{/images/shoppingBag.svg}" alt="ShoppingBag">
        </div>
    </a>

    <!-- representere Login med Email US-5 -->
    <h2 th:if="${currentUserActive}">Velkommen: <p th:if="${currentUserActive}" th:text="${session.currentUser.email}"></p></h2>

    <div class="listCart">
        <div class="cartItem" th:each="Cupcake : ${session.sessionOrderList}">
            <p>Cupcake, Top og bund:</p>
            <div class="cartProductTop" th:text="${Cupcake.topping.name}"></div>
            <div class="cartProductBottom" th:text="${Cupcake.bottom.name}"></div>
            <p>Samlet pris:</p>
            <div class="cartProductPrice" th:text="${Cupcake.price}"></div>
            <div class="quantity">
                <!-- minus knap sender productId til cart/minus -->
                <form th:action="@{/cart/minus}" method="post">
                    <!-- <input type="hidden" name="productId" th:value="${Cupcake.id}"> -->
                    <button type="submit" class="minus">-</button>
                </form>

                <!-- antal items vises som tekst -->
                    <!-- <span th:text="${Cupcake.quantity}">0</span> -->

                    <!-- plus knap sender productId til /cart/plus -->
                <form th:action="@{/cart/plus}" method="post">
                    <!--<input type="hidden" name="productId" th:value="${Cupcake.id}"> -->
                    <button type="submit" class="plus">+</button>
                </form>
            </div>
        </div>
        <div class = "btn">
            <form th:action="@{/closeTempOrder}" method="get">
            <button class = "close">CLOSE</button>
            </form>
            <form th:action="@{/pay}" method="post">
            <button class = "checkOut">CHECK OUT</button>
            </form>
        </div>
    </div>
</header>

<div class="product-grid">
    <figure class="product" th:each="product : ${productList}">
        <img th:src="@{/images/{img}(img=${product.image})}">
        <figcaption th:text="${product.title}"></figcaption>
    </figure>
    <figure class="product">
        <!-- link to custom cupcake place -->
        <a href="/custom">
            <!-- picture -->
            <img th:src="@{/images/cupcakeform.png}" alt="CustomCupCake">
            <figcaption>Custom Cupcake</figcaption>
        </a>
    </figure>
</div>
    <p th:text="${msg}"></p>
</div>


<!-- Place for js scripts -->
<script th:src="@{/js/hamburger.js}"></script>
<script th:src="@{/js/shoppingCart.js}"></script>

</body>
</html>