<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>CupCake</title>

    <!-- Place for css -->
    <!-- header css -->
    <link rel="stylesheet" th:href="@{/css/header/header.css}">
    <link rel="stylesheet" th:href="@{/css/header/hamburger.css}">
    <link rel="stylesheet" th:href="@{/css/header/logo.css}">
    <link rel="stylesheet" th:href="@{/css/header/cart.css}">

    <!-- Body css-->
    <link rel="stylesheet" th:href="@{/css/body/index/product.css}">

    <!-- text css-->
    <link rel="stylesheet" th:href="@{/css/textstyle.css}">
</head>

<body>
<header th:fragment="header" class="header-grid">
    <!-- hamburger menu -->
    <div id="hamburger">
        <div class="hamburger-wrapper">
            <div class="container" onclick="Show(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
            </div>
            <div id="hamburgerMenu">
                <!-- options in burger menu -->
                <h2><a href="#1">Login</a></h2>
                <h2><a href="#2">Support</a></h2>
            </div>
        </div>
    </div>

    <!-- logo -->
    <div id="logo">
        <!-- link back to main page -->
        <a href="http://localhost:7070/">
            <!-- picture -->
            <img th:src="@{/images/logo.png}" alt="Logo">
        </a>
    </div>

    <!-- shopping cart -->
    <div id="cart">
        <!--<span th:text = "{$placeholder}">0</span>-->
        <span>0</span>
        <img th:src="@{/images/shoppingBag.svg}" alt="ShoppingBag">
    </div>

    <div class="listCart">
        <div class="cartItem" th:each="item : ${cartItems}">
            <div class="cartProductName" th:text="${item.name}"></div>
            <div class="cartProductPrice" th:text="${item.price}"></div>
            <div class="quantity">
                <!-- minus knap sender productId til cart/minus -->
                <form th:action="@{/cart/minus}" method="post">
                    <input type="hidden" name="productId" th:value="${item.id}">
                    <button type="submit" class="minus">-</button>
                </form>

                <!-- antal items vises som tekst -->
                <span th:text="${item.quantity}">0</span>

                <!-- plus knap sender productId til /cart/plus -->
                <form th:action="@{/cart/plus}" method="post">
                    <input type="hidden" name="productId" th:value="${item.id}">
                    <button type="submit" class="plus">+</button>
                </form>
            </div>
        </div>
        <div class = "btn">
            <button class = "close">CLOSE</button>
            <button class = "checkOut">CHECK OUT</button>
        </div>
    </div>
</header>

<div class="product-grid">
    <figure class="product" th:each="product : ${productList}">
        <img th:src="@{/images/{img}(img=${product.image})}">
        <figcaption th:text="${product.title}"></figcaption>
    </figure>
    <figure class="product">
        <!-- link to custom cupcake place -->
        <a href="http://localhost:7070/Custom">
            <!-- picture -->
            <img th:src="@{/images/cupcakeform.png}" alt="CustomCupCake">
            <figcaption>Custom Cupcake</figcaption>
        </a>
    </figure>
</div>
</div>


<!-- Place for js scripts -->
<script th:src="@{/js/hamburger.js}"></script>

</body>
</html>