
/* Hamburger menu */
.hamburger-wrapper {
    position: relative;
    display: inline-block;
}

.container {
    display: inline-block;
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px;
}

.bar1, .bar2 {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #333;
    left: 0;
    transition: 0.4s;
}

.bar1 {
    top: 25%;
}

.bar2 {
    top: 75%;
}

.change .bar1 {
    top: 50%;
    transform: rotate(45deg);
}

.change .bar2 {
    top: 50%;
    transform: rotate(-45deg);
}

#hamburgerMenu {
    background-color: rgb(255, 255, 255);
    display: none;
    position: absolute;
}