
/* header alignment */
.header-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    min-height: 80px;
}

/* margin added so they dont hug corners */

#hamburger { justify-self: start; margin: 10px }
#logo      { justify-self: center; }
#cart      { justify-self: end; margin: 10px}
